*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}

body{
    background-color: #00ccff;
}

.container{
    width: 600px;
    height: 450px;
    position: absolute;
    transform: translate(-50%, -50%);
    left: 50%;
    top: 50%;
}

.shapes{
    width: 250px;
    height: 250px;
    background: linear-gradient(45deg, #e505d2, #fa80f0d4);
    border-radius: 50%;
    position: absolute;
    right: 0;
}

.shapes:before{
    content: "";
    position: absolute;
    width: 250px;
    height: 250px;
    top:197px;
    background: linear-gradient(45deg, #0756b5, #80affa);
    border-radius: 50%;
    right: 347px;
}

.card__content{
    position: absolute;
    width: 550px;
    height: 300px;
    background-color: rgba(255,255,255, 0.15);
    border: 2px solid rgba(255,255,255, 0.2);
    transform: translate(-50%, -50%);
    top: 50%;
    left: 50%;
    border-radius: 8px;
    box-shadow: 0 0 40px rgba(0,0,0,0.08);
    cursor: pointer;
    overflow: hidden;
}

.card__content img{
    position: absolute;
    width: 250px;
    filter: drop-shadow(0 0 20px rgba(26, 0, 68, 0.34));
    bottom: 15px;
    left: 120px;
    transition: 0.5s;
}

.card__description{
    position: absolute;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    font-size: 14px;
    width: 250px;
    right: -250px;
    transition: 0.5s;
}

.card__title{
    color: rgb(0, 0, 0);
    font-size: 20px;
    text-transform: uppercase;
}

.card__paragraf{
    font-weight: 300;
    text-align: justify;
    color: rgb(0, 0, 0);
    line-height: 1.8;
    letter-spacing: 0.3px;
} 

.card__content:hover img{
    width: 220px;
    left: 10px;
    bottom: 20px;
}
.card__de{
    display: flex;
    justify-content: flex-end;
    font-family: italic ;
}

.card__content:hover .card__description{
    right: 25px;
}